---
---
<div id="acro-tooltip"><span class="tt-term" id="tt-term"></span><span id="tt-def"></span></div>

<script>
  import { injectAcronymTooltips } from '../scripts/acronyms.js';
  document.addEventListener('DOMContentLoaded', injectAcronymTooltips);
</script>
